AEGIS_POSTGRES_PORT=35432
AEGIS_REDIS_PORT=36379
AEGIS_MINIO_PORT=39000
AEGIS_MINIO_CONSOLE_PORT=39001
AEGIS_TEMPORAL_PORT=37233
AEGIS_TEMPORAL_UI_PORT=38233
AEGIS_API_PORT=38000
AEGIS_WEB_PORT=33000
AEGIS_PROMETHEUS_PORT=39090
AEGIS_GRAFANA_PORT=33001
AEGIS_LOKI_PORT=33100
AEGIS_OTEL_PORT=34318
AEGIS_TEMPORAL_ENABLED=true
AEGIS_OTEL_ENABLED=true
AEGIS_AI_PROFILE=offline
AEGIS_CORS_ORIGINS=["http://localhost:33000","http://127.0.0.1:33000"]
