AEGIS_POSTGRES_PORT=25432
AEGIS_REDIS_PORT=26379
AEGIS_MINIO_PORT=29000
AEGIS_MINIO_CONSOLE_PORT=29001
AEGIS_TEMPORAL_PORT=27233
AEGIS_TEMPORAL_UI_PORT=28233
AEGIS_API_PORT=28000
AEGIS_WEB_PORT=23000
AEGIS_PROMETHEUS_PORT=29090
AEGIS_GRAFANA_PORT=23001
AEGIS_LOKI_PORT=23100
AEGIS_OTEL_PORT=24318
AEGIS_TEMPORAL_ENABLED=true
AEGIS_OTEL_ENABLED=true
AEGIS_AI_PROFILE=offline
AEGIS_CORS_ORIGINS=["http://localhost:23000","http://127.0.0.1:23000"]
